.ranking-list-enter {
  opacity: 0;
}

.ranking-list-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.ranking-list-exit-active {
  opacity: 0;
}


.skeleton {
  background-color: #a5a5a5;
  animation: skeleton-animation 1s infinite linear;
}

@keyframes skeleton-animation {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.2;
  }
}

.tab-ranking:last-child{
  border: none;
}

.novel-item:first-child .icon-ranking {
background-color:#FFE95A;
}
.novel-item:nth-child(2) .icon-ranking {
  background-color: #FDCEDF;
  }
  .novel-item:nth-child(3) .icon-ranking {
    background-color:#FECE9F;
    }
