@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .l-container {
        max-width: 1280px;
        @apply mx-auto px-4
    }
}

@layer base {
    body {
        height: 600vh;
    }

    .scroll-sidebar::-webkit-scrollbar {
        width: 10px;
    }

    .scroll-sidebar::-webkit-scrollbar-thumb {
        background: rgb(189, 202, 217);
    }
}

.active {
    color: red;
}

.swiper-button-prev{
    left: var(--swiper-navigation-sides-offset, 350px);
}

.swiper-button-next{
    right: var(--swiper-navigation-sides-offset, 350px);
}

.image-banner{
    cursor: grab;
}

.image-ads{
    height: 300px;
    width: 300px;
}